.table:hover{
    background-color: rgb(173, 173, 173);
}
 .modal body{
    background-color: blue;
 }

 h4{
    color: rgb(47, 119, 62);
}

.table{
    background-color: rgb(172, 228, 128);
}
 
h1{
text-align: center;
}