
 




 
 <form [formGroup]="loginForm" class="vh-100 d-flex justify-content-center align-items-center" (ngSubmit)="login()"
  novalidate>
  <div class="col-lg-4 col-md-12 col-sm-10  ">
    
<div class="alert alert-info alert-dismissible fade show" role="alert">
  You are on login page!
    <br><strong>Login</strong>
  
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

    <h2>Login</h2>

    <div class="d-flex flex-column">
      <label for="email">Email</label>
      <input type="text" class="form-control" formControlName="email" placeholder="name@example.com">
      <p class="alert alert-danger" *ngIf="showControlError(loginForm,'email')" > Email is  Required!!</p>              
    </div>

    <div class="mb-3">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
      <p class="alert alert-danger" *ngIf="showControlError(loginForm,'password')" > Password is  Required!Last pasword should be less than 7 characters!</p>              
      <label data-error="wrong" data-success="right" for="form34"></label>
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="remember">
      <label class="form-check-label" for="remember">Remember me</label>
    </div>

    <!-- <div class="mb-3"> -->
      <div class="d-flex flex-column">

      <button type="submit" class="btn btn-primary"  [disabled]="loginForm.invalid" >Login</button>
    </div>



  </div>
</form>


 