<!-- <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <!- Grid container -->
    <!-- <div class="container pt-4"> -->
      <!-- Section: Social media -->
     <!--  <section class="mb-4"> -->
 
      <!-- </section> -->
      <!-- Section: Social media -->
    <!-- </div> -->
    <!-- Grid container -->
  
    <!-- Copyright -->
    <!-- <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);"> -->
      <!-- © 2023 Copyright:School -->
     <!-- </div> -->
    <!-- Copyright -->
  <!-- </footer> --> 
  <!-- <footer class="text-center text-white" style="background-color: #c08888;"> 

 
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a>
              <a href="#"><i class="icon ion-social-snapchat"></i></a>
              <a href="#"><i class="icon ion-social-twitter"></i></a>
              <a href="#"><i class="icon ion-social-facebook"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2023</p>
        </footer>
    </div> -->
 
   <!-- </footer>   -->
   <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Copyright © 2023</p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline text-md-end">
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="#">Terms of Use</a></li>
            <li class="list-inline-item"><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>